---
layout: base
title: Home
---
<div class="container-fluid home">
    <div class="row" id="intro">
        <div class="multiple-columns">
            <h1>Hi!</h1>
                <p>
                    My name is Yoo Sung Jang.<br>
                </p>
                <p>
                    I am a computer science student and a hobbyist programmer.
                    Programming came across to me during my math class in 2017, and ever since, I was interested in programming.
                    The potential of programming was fascinating to me that we can put an infinite number of ideas into realization.
                    This sole idea led me to the world of programming.
                </p>
                <p>
                    Creativity is the word that I always pursued to seek.
                    Creativity is my virtue, motivation, and strength.
                    This website dedicates to showcase my projects,
                    to record any blueprints of projects,
                    and to posts daily knowledge.
                    Please feel free to look around, and contact me for any questions
                </p>
        </div>
    </div>
    <div class="row justify-content-center coursework">
        <div class="container">
            <div class="row coursework-title">
                <h2 class="col">Relevant Coursework</h2>
            </div>
            <div class="row btn-group-vertical course-btn-group justify-content-center" role="group" aria-label="course label">
                {% for course in site.courses_cs %}
                <button type="button" class="btn col course-btn-whole" onclick="toggle_visibility('{{ course.course }}')">
                    <div class="course-btn">
                        {{ course.course }} - {{ course.title }}
                    </div>
                    <div class="course-content" id="{{ course.course }}">
                        <p>
                            {{ course }}
                        </p>
                    </div>
                </button>
                {% endfor %}
                {% for course in site.courses_math %}
                <button type="button" class="btn col course-btn-whole" onclick="toggle_visibility('{{ course.course }}')">
                    <div class="course-btn">
                        {{ course.course }} - {{ course.title }}
                    </div>
                    <div class="course-content" id="{{ course.course }}">
                        <p>
                            {{ course }}
                        </p>
                    </div>
                </button>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <a href="https://www.wisc.edu/"><img src="assets/img/uw-logo.png" alt="uw-madison logo" height="100px;"></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="contact">
        <form action="mailto:yjang43@wisc.edu" method="post" enctype="text/plain">
<!--            name, email, message-->
            <br><h2>Contact</h2><br>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email">
                <small id="emailHelp" class="form-text text-muted">Your email won't be used for any other purposes than contacting you back</small>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" name="message" id="message" style="height: 200px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

<script>
    toggled = null
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (toggled != null && toggled != id) {
            var t = document.getElementById(toggled);
            t.style.display = 'none'
        }
        if(e.style.display == 'block') {
            e.style.display = 'none';
            toggled = null
        }
        else {
            e.style.display = 'block';
            toggled = id
        }
    }
</script>