html, body{
    height: 100%;
    margin: 0;
    background-color: #101013;
    color: white;
    font-family: "Arial Narrow", sans-serif;
}
.flexContainer {
    display: flex;

    height: 100%;
    margin: auto;
}
.textBlock {
    display: block;
    height: 400px;
    width: 600px;
    margin-top: 50px;
}
.content {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.wolf {
    display: block;
    width: 650px;
    height: 580px;
    margin-top: 50px;
    margin-left: auto;
}
.logos {
    text-align: center;
}
.logos img{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.topNavOffset {
    display: block;
}

.topNav {
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0;
    width: 100%;
}
.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topNav a:hover {
    background: #ddd;
    color: black;
}