.tag-box {
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tag-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.tag-box {
  -ms-overflow-style: none;
}

#intro {
    padding: 20px;
}

.nav-item a {

}

.multiple-columns {
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: lightgray;
}

.multiple-columns h1 {
    column-span: all;
}

#contact {
    padding: 20px;
}


.jumbotron-img {
    color: white;

    height: 400px;

    background-image: url('/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron p {
    padding: 20px;
    width: 400px;
}

.post-border {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.filler {
    width: 15%;
}

.project-image {
    max-width: 100%;
}


.tech {
    column-count: 2;
    column-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .multiple-columns {
    column-count: 1;
  }
  .tech {
    column-count: 1;
  }
}