---
layout: base
title: Blog
intro: Journal during my journey to the programming. Anyone interested in subjects like python, algorithms and AI, you are the first class to this blog. Welcome to my blog!
my_tag:
---
<!--for kramdown math render-->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="container-fluid">
    <p class="tag-box">
        <a href="/tags.html">Tags:</a>
        {% for tag in site.tags %}
        {{ tag.first }}
        {% endfor %}
    </p>
</div>
<div class="container-sm">
    {% for post in paginator.posts %}
    <div class="post-border"></div>
    <button class="row not-a-button" onclick="location.href='{{ post.url }}'" type="button">
        <div class="col-sm-4">
            {% if post.img_url %}
                <img class="blog-img" src="{{ post.img_url }}" alt="{{ post.title }} image">
            {% else %}
                <img class="blog-img" src="/assets/img/default.png" alt="{{ post.title }} image">
            {% endif %}
        </div>
        <div class="col-sm-8 blog-summary-container">
            <h4>{{ post.title }}</h4>
            <div class="blog-summary">
                {{ post.content }}
                <div class="overlay"></div>
            </div>
        </div>
    </button>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <span class=page_num>
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev </a>
    </span>
  {% else %}
    <span class=page_num>
      <span>&laquo; Prev</span>
    </span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class=page_num>
        <em>{{ page }}</em>
      </span>
    {% elsif page == 1 %}
      <span class=page_num>
        <a href="{{ '/blog/' | relative_url }}">{{ page }} </a>
      </span>
    {% else %}
      <span class=page_num>
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }} </a>
      </span>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <span class=page_num>
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    </span>
  {% else %}
    <span class=page_num>
      <span>Next &raquo;</span>
    </span>
  {% endif %}
</div>
{% endif %}
