---
layout: base
title: Blog
intro: Journal during my journey to the programming. Anyone interested in subjects like python, algorithms and AI, you are the first class to this blog. Welcome to my blog!
my_tag:
---
<!--for kramdown math render-->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="container-fluid">
    <p class="tag-box">
        <a href="/tags.html">Tags:</a>
        {% for tag in site.tags %}
        {{ tag.first }}
        {% endfor %}
    </p>
</div>
<div class="container-sm">
    {% for post in site.posts %}
    <h1>{{ post.title }}</h1>
    {{ post.date | date_to_string }}<br><br>
    {{ post.content }}
    <div class="post-border"></div>
    {% endfor %}
</div>
